<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>ChatGPT binaere-bauten </title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="assets/binaere-bauten-logo.jpeg" alt="Company Logo">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <h2>chat</h2>
    


    <div id="app" class="chat-container">
        <div class="chat-messages">
            <div v-for="message in messages" :key="message.id" :class="['message', message.type]">
                <div class="message-content">
                    <img v-if="message.bot" src="assets/ki-icon.png" alt="Bot Image" class="bot-image">
                    <span v-if="message.content">{{ message.content }}</span>
                </div>
            </div>

        </div>
        <div class="user-input">
            <input type="text" placeholder="Send a message..." v-model="userInput" @keyup.enter="sendMessage">
            <div class="icon-container" @click="sendMessage">
                <img src="assets/Send.png" alt="Send">
            </div>
            <button @click="connect">Connect</button>
            <button @click="send">Send</button>
        </div>
        </div>
    </div>
    <script src="App.js"></script>
    <script src="backend_connector.js"></script>
    <script>
        
            console.log("backend_connector.js loaded")

            let api_url = "http://metroplex:5000/api/"

            async function connect_session(primer = "the following is a coversation between assistant and user. Assistant is allways friendly and helpful.") {

                let res = await fetch(api_url + "get_new_session",
                    {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },

                        body: JSON.stringify({ "fixed_prompt": primer }),
                    }
                ).catch(e => {
                    console.log("cant connect session.");
                    return { json: () => { return { session_id: -1 } } }
                })
                let data = await res.json()
                return data.session_id
            }

            async function fetch_message(session_id, content, callback = undefined) {


                let decoder = new TextDecoder("utf-8")

                let all_text = ""

                await fetch(api_url + "user_message",
                    {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ session_id, "user_message": content }),
                    }
                ).catch(e => {
                    console.error(e);
                }).then(response => {

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.body.getReader();
                })
                    .catch(e => {
                        console.error("error getting reader")
                        console.error(e)
                    })
                    .then(reader => {
                        reader = reader

                        reader.read().then(async function processResult(result) {
                            if (result.done) {
                                return;
                            }

                            const chunk = result.value;

                            let text = decoder.decode(chunk)


                            try {
                                let data = JSON.parse(text)

                                if (data.text) {

                                    all_text += data.text

                                    if (callback) {
                                        callback(data.text)
                                    }

                                }
                            } catch {

                            }
                            return reader.read().then(processResult);
                        });
                    })
                    .catch(e => {
                        console.error("err processing result");
                        console.error(e);
                    })

            }

            id = -1

                async function connect() {
                    id = await connect_session()
                    console.log(id);
                }

                async function send() {
                    let answer = await fetch_message(id, "hello", console.log)
                }
     
            
        

    </script>


</body>

</html>